<pageheader pagename="Jobs" subtitle="Chronos"></pageheader>
<div class="conter-wrapper" ng-init="jobs_view()">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de tasks</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span> </span>
                            <input type="search" ng-model="searchJob" class="form-control" style="z-index: 0;" aria-describedby="basic-addon1" />
                        </div>
                    </div>


                    <div class="table-responsive" style="margin-top: 30px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><b> Task </b></td>
                                    <td><b> Last </b></td>
                                    <td><b> State </b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="job in jobs | filter:searchJob " ng-click="jobs_view_id(job.name)" style="cursor: pointer;">
                                    <td>{{job.name}}</td>
                                    <td>
                                        <span class="label label-pill label-success" xxx="{{job.lastSuccess}}" xxx="{{job.lastRunError}}" title="{{job.lastSuccess}}">success</span>
                                    </td>
                                    <td>{{job.currentState}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-default" data-toggle="modal" data-target="#createJob">Criar Job</button>

                </div>
            </div>

        </div>
    </div>
</div>




<!-- create job -->
<div id="createJob" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Criar job</h4>
            </div>
            <div class="modal-body">

                <formly-form model="job_id" fields="jobFields"></formly-form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="jobs_save()" ><i class="fa fa-floppy-o"></i> Salvar</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#runJob"><i class="fa fa-play"></i> Rodar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- create job -->
<div id="runJob" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Force run</h4>
            </div>
            <div class="modal-body">

                Você tem certeza que deseja rodar esse job?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="jobs_run()" ><i class="fa fa-play"></i> Rodar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"> Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->