<div class="container">
    <div class="alert" data-ng-show="state &amp;&amp; !state.leader">
        <strong>No master is currently leading ...</strong>
    </div>
    <div class="alert alert-warning hide" id="not-leader-alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>This master is <u>not the leader</u>, redirecting in {{redirect / 1000}} seconds ...</strong>
        <a href="/master/redirect">go now</a>
    </div>

    <div data-ng-repeat="alert in currentAlerts" class="alert alert-{{ alert.type }}">
        <p data-ng-show="alert.title">
            <strong>{{ alert.title }}</strong>
        </p>
        {{ alert.message }}
        <ul data-ng-show="alert.bullets" style="margin-bottom: 0;">
            <li data-ng-repeat="bullet in alert.bullets">
                {{ bullet }}
            </li>
        </ul>
    </div>

    <div ng-view></div>
</div>
</div>

<script type="text/ng-template" id="template/dialog/masterGone.html">
    <div class="modal-header">
        <h4 class="modal-title">
            Failed to connect to {{rootScope.$location.host()}}:{{rootScope.$location.port()}}!
        </h4>
    </div>
    <div class="modal-body">
        Retrying in <b>{{rootScope.retry / 1000}}</b> seconds...
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()">Try now</button>
    </div>
</script>

<script type="text/ng-template" id="template/dialog/message.html">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {{ message }}
    </div>
    <div class="modal-footer">
        <a data-ng-repeat="btn in buttons" data-ng-click="$close(btn.result)"
           class="btn btn-default">
            {{ btn.label }}
        </a>
    </div>
</script>